<div class="line">
  <mat-form-field appearance="fill">
    <mat-label>Enter your name</mat-label>
    <input [(ngModel)]="name" matInput [disabled]="pending || registered" (keydown.enter)="onSubmit()">
  </mat-form-field>
  <button
    [disabled]="name.length == 0 || pending || registered"
    (click)="onSubmit()"
    mat-flat-button
    color="primary"
  >
    Send
  </button>
</div>
<div *ngIf="isRoomAdmin" class="line">
  <button
    [disabled]="!registered || pending"
    class="start-button"
    (click)="onStart()"
    mat-flat-button
    color="primary"
  >
    Start
  </button>
</div>

