.table-header-cell {
  text-align: center;

  &:first-child {
    text-align: start;
  }

  &:last-child {
    padding: 0 !important;
  }
}

.table-cell {
  width: 48px;

  &.completed {
    background: green;
  }

  &.current {
    background: yellow;
  }

  &:first-child {
    width: 100px;
  }

  &:last-child {
    padding: 0 !important;
  }
}

.me {
  color: #673ab7;
  font-weight: bold;
}
